body{
    background-color: rgb(3, 160, 108);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 250px;
}
.btn{
    position: absolute;
    background-position: center solid black;
}

